@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;800&display=swap');

html::-webkit-scrollbar{
  width: 0;
}

::selection{
  background: transparent;
  color: #000000;
}

*,*::before,*::after{
  padding:0;
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}
:root{
  --fg-color:rgb(4,4,4);
  --bg-color:aliceblue;
  --product-desc-clr:rgba(86, 83, 83, 0.906);
  --product-bg:rgb(235, 230, 230);
}

body{
  background: var(--product-bg);
  color: var(--fg-color);
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  height: fit-content;
  min-height: 100svh;
  position: relative;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0;
}



a{
  color: var(--fg-color);
}

/* navbar */
.navbar{
  width: 100vw;
  height: 5vw;
  background: var(--bg-color);
  display: grid;
  place-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}
.navbar .inner{
  padding: 1vw 1vw;
  width: 90%;
  height: 60%;
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: 90% 10%;
  overflow: hidden;
}
.navbar .inner img{
 height: 3.8vh;
}
.navbar .inner .links{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 2vw;
}
.navbar .inner .links li{
  height: 100%;
  text-transform: uppercase;
}

.navbar .inner .links .contact{
  font-size: 1.2vw;
  font-weight: 300;
  position: relative;
}
.navbar .inner .links .contact::before{
 content: '';
 width: 0%;
 height: 2px;
 background: var(--product-desc-clr);
 position: absolute;
 bottom: 0;
 transition: 200ms ease-in-out;
}

.navbar .inner .links .contact:hover{
  font-weight: 700;
}
.navbar .inner .links .contact:hover::before{
  width: 100%;
}
.navbar .inner .links .carticon{
  font-size: 1.7vw;
  font-weight: 300;
  padding-right: 0.3vw;
}

@media screen and (max-width:850px) {
  /* navbar */
.navbar{
  width: 100vw;
  height: 8vw;
}
.navbar .inner img{
 height: 4vw;
}
.navbar .inner .links{
  gap: 3vw;
  padding-right: 4vw;
}

.navbar .inner .links .contact{
  font-size: 2.7vw;
}

.navbar .inner .links .carticon{
  font-size: 3.3vw;
}
}
@media screen and (max-width:380px) {
  /* navbar */
.navbar .inner .links .contact{
  font-size: 2.9vw;
}
.navbar .inner img{
  height: 2.5vh;
 }
.navbar .inner .links .carticon{
  font-size: 4vw;
}
}






/* header  */
.swiper{
height: 100vh;
width: 100vw;

}
.swiper img{
height: 100%;
width: 100%;
object-fit: cover;
object-position: center;

}

.sliderheader{
  position: relative;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.shopnow{
  font-size: 1vw;
  background: var(--bg-color);
  color: var(--fg-color);
  padding: 1.7vw 9vw;
  font-weight: 200;
  letter-spacing: 1px;
  z-index: 1;
  position: absolute;
  bottom: 10%;
  left: 5%;
  transition:300ms ease-in-out;
  text-transform: uppercase;
}
.shopnow:hover{
  background: rgb(191, 191, 191);
}
.sliderheader .headertag{
  font-size: 3.2vw;
  font-weight: 900;
  letter-spacing: 1px;
  z-index: 1;
  position: absolute;
  bottom: 23%;
  left: 5%;
  line-height: 2.8vw;
  color: var(--bg-color);
}
.sliderheader .headertag span{
  font-size: 1.8vw;
  color: var(--bg-color);
  font-weight: 300;
  letter-spacing: 1px;
}

@media screen and (max-width:850px) {
  /* header  */
.swiper{
  height: 90vh;
  width: 100vw;
  }
  .swiper img{
  object-position: right;
  width: 100vw;
  height: 90vh;
  }
  
  .sliderheader{
    height: 90vh;
  }
  
  .shopnow{
    font-size: 2.1vw;
    padding: 2.5vw 14vw;
    font-weight: 500;
  }
  .shopnow:hover{
    background: rgba(243, 242, 242, 0.873);
  }
  .sliderheader .headertag{
    font-size: 5.3vw;
    word-spacing: 2px;
    line-height: 4.5vw;
    bottom: 24%;
    filter:drop-shadow( 0 0 10px rgba(0, 0, 0, 0.654));
  }
  .sliderheader .headertag span{
    font-size: 3.3vw;
  }
}
@media screen and (max-width:380px) {
  /* header  */

  .shopnow:hover{
    background: rgba(243, 242, 242, 0.873);
  }
  .sliderheader .headertag{
    bottom: 16%;
  }
}



/* products */
.productslist{
  width: 88vw;
  height: fit-content;
  margin: auto;
  padding: 2vw 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--product-bg);
}
.productslist h1{
  text-transform: uppercase;
  color: var(--fg-color);
  font-size: 2.1vw;
  letter-spacing: 0.5px;
  font-weight: 800;
}
.productslist .products{
  height: fit-content;
  width: 100%;
  padding: 1vw 0.2vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.productslist .products .product{
 min-width: 345px;
 width: 24vw;
 height: fit-content;
 display: flex;
 flex-direction: column;
 gap: 5px;
}
.productslist .products .product img{
  min-width: 345px;
  width: 24vw;
  height: 30vw;
  object-position: center;
  object-fit: cover;
}

.productslist .products .product .gotoproduct{
 display: flex;
 width: 100%;
 flex-direction: column;
 align-items: start;
 gap: 4px;
}
.productslist .products .product .gotoproduct h1,.productslist .products .product .gotoproduct h3{
 font-size: 1.3vw;
 text-transform: capitalize;
 color: var(--product-clr);
 font-weight: 500;
 padding-left: 5px;
 word-spacing: -2px;
 font-family: Arial, Helvetica, sans-serif;
}
.productslist .products .product .gotoproduct h3{
 font-size: 1vw;
 color: var(--product-desc-clr);
 font-weight: 600;
}
.productslist .products .product .gotoproduct .price{

 font-size: 1.1vw;
 font-weight: 800;
 padding-left: 5px;
 display: flex;
 align-items: center;
 flex-direction: row;
 gap: 20px;
 color: rgb(162, 30, 30);
}
.productslist .products .product .gotoproduct .price .oldprice{
 font-size: 1.1vw;
 font-weight: 200;
 color: rgb(164, 160, 160);
 text-decoration: line-through;
}

@media screen and (width<=850px) {
/* products */
.productslist{
 
  gap: 10px;
}
.productslist h1{
  
  font-size: 2.8vw;
}
.productslist .products .product{
 gap: 10px;
 margin-bottom: 3vw;
}
.productslist .products .product img{
  height: 44vw;
}

.productslist .products .product .gotoproduct{
 gap: 5px;
}
.productslist .products .product .gotoproduct h1,.productslist .products .product .gotoproduct h3{
 font-size: 2.4vw;
 word-spacing: -3px;
}
.productslist .products .product .gotoproduct h3{
 font-size: 1.6vw;
 word-spacing: 0.3px;
}
.productslist .products .product .gotoproduct .price{

 font-size: 1.85vw;
}
.productslist .products .product .gotoproduct .price .oldprice{
 font-size: 1.8vw;
}
}

@media screen and (max-width:380px) {
  /* products */
.productslist{
 
  gap: 10px;
}
.productslist h1{
  font-size: 4vw;
}
.productslist .products .product img{
  height: 50vh;
}

.productslist .products .product .gotoproduct{
 gap: 3px;
}
.productslist .products .product .gotoproduct h1,.productslist .products .product .gotoproduct h3{
 font-size: 3vw;
 letter-spacing: -0.5px;
}
.productslist .products .product .gotoproduct h1{
 font-size: 4.1vw;
 letter-spacing: 1px;
}
.productslist .products .product .gotoproduct .price{
 font-size: 4.3vw;
}
.productslist .products .product .gotoproduct .price .oldprice{
 font-size: 3.9vw;
}
}



/* footer  */
footer{
  margin-top: 3vw;
  padding: 1vw 0;
  min-height: 10vw;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  gap: 5vw;
  position: relative;
}

footer .footerlogo{
  height: 3vw;
  position: absolute;
  left: 0;
  top: 0;
  transform:  rotate(90deg) ;
  transform-origin: left bottom;
}
footer .left{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.4vh;
  padding-left: 5vw;
}
footer .left .footerlinks{
  border-top: 1px solid rgb(77, 76, 76);
  font-weight: 800;
  font-size: 1.34vw;
  line-height: 3vw;
  width: 30%;
  color: rgb(77, 76, 76);
  transition: 200ms ease-in;
}
footer .left .footerlinks:hover{
  color: rgb(43, 43, 43);
}
footer .left .details{
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(57, 56, 56);

  line-height: 3.8vh;
  font-size: 1.35vw;
  word-spacing: 1.9px;
  padding: 1.2vw 0;
}
footer .left .sociallinks{
 display: flex;
 flex-direction: row;
 gap: 1.2vw;
}
footer .left .sociallinks a .social{
 font-size: 1.6vw;
 color: var(--product-desc-clr);
 transition: 200ms ease-in;
}
footer .left .sociallinks a .social:hover{
 color: var(--product-clr);
}
footer .left .copymsg{
 color: var(--product-desc-clr);
 font-weight: 200;
 font-size: 1vw;
 text-align: center;
}


@media screen and (width<=850px) {
/* footer  */
footer{
  margin-top: 3vw;
  min-height: 16vw;
  gap: 5vw;
}

footer .footerlogo{
  height: 6vw;
  left: 0;
  top: -19%;
}
footer .left{
  gap: 0.9vh;
  padding-left: 8vw;
}
footer .left .footerlinks{
  border-top:1.52px solid rgb(77, 76, 76,0.7);
  font-size: 2vw;
  line-height: 3vw;
  width: 50%;
}
footer .left .details{
  font-weight: 200;
  line-height: 3.1vh;
  font-size: 2vw;
  word-spacing: 1px;
  letter-spacing: 0px;
  padding: 0.6vw 0;
}
footer .left .sociallinks{
 gap: 3.5vw;
}
footer .left .sociallinks a .social{
 font-size: 2.6vw;
}
footer .left .copymsg{
 font-size: 1.8vw;
 transform: translateY(10px);
}

}

@media screen and (max-width:380px) {
/* footer  */
footer{
  gap: 8vw;
}

footer .footerlogo{
  height: 9vw;
  opacity: 0.7;
}
footer .left{
  gap: 2vw;
}
footer .left .footerlinks{
  border-top:1px solid rgb(77, 76, 76,0.7);
  font-size: 2.8vw;
  line-height: 3.7vw;
  width: 50%;
}
footer .left .details{
  line-height: 2vh;
  font-size: 3.2vw;
  letter-spacing: 0.5px;
}
footer .left .sociallinks{
 gap: 3.5vw;
}
footer .left .sociallinks a .social{
 font-size: 4.5vw;
}
}





/* contact page  */
.contactpage{
  width: 86vw;
  height: fit-content;
  padding: 3vw 1vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 5vw;
  position: relative;
  background: #ffffff;
}
.contactpage .contacthelp{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: center;
}
.contactpage .contacthelp iframe{
  width: 100%;
  margin: auto;
}
.contactpage .contacthelp h1{
  text-transform: uppercase;
  font-size: 3.4vw;
  font-weight: 800;
  color: var(--product-clr);
  letter-spacing: 2px;
}
.contactpage .contacthelp h1 span{
  
  font-weight: 600;
}
.contactpage .morehelp{
  
  height: fit-content;
  width: 100% ;
  margin: 3vw auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.8vw;
}
.contactpage .morehelp .stillhelp{
  font-weight: 800;
  font-size: 3.1vw;
  text-transform: uppercase;
  letter-spacing: 2px ;
}
.contactpage .morehelp span{
  font-weight: 200;
  font-size: 1.3vw;
  text-align: center;
  width: 30%;
  color: var(--product-desc-clr);
}

.contactpage .morehelp .getintouch{
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: auto;
  justify-content: space-between;
  margin-top: 5vw;
}
.contactpage .morehelp .getintouch .contactway{
  display: flex;
  flex-direction: column;
  align-items: center;
 gap: 2px;
}
.contactpage .morehelp .getintouch .contactway h1{
 font-weight: 800;
 text-transform: uppercase;
 font-size: 2vw;
 letter-spacing: 2px;

}
.contactpage .morehelp .getintouch .contactway span,
.contactpage .morehelp .getintouch .contactway a{
 font-weight: 200;
 text-transform: capitalize;
 font-size: 1.25vw;
 width: 100%;
}
.contactpage .morehelp .getintouch .contactway a{
 text-decoration: underline;
}

@media screen and (width<=850px) {
/* contact page  */
.contactpage{
  width: 90vw;
}
.contactpage .contacthelp h1{
  font-size: 5vw;
  word-spacing: -1px;
}
.contactpage .morehelp{
  
  gap: 1vw;
  margin: 2vw auto;
  width: 100%;
  
}
.contactpage .morehelp .stillhelp{
  font-size: 4.1vw;
}
.contactpage .morehelp span{
  
  font-size: 2vw;
  width: 50%;
}

.contactpage .morehelp .getintouch{
  margin-top: 3vw;
  width: 80%;
}
.contactpage .morehelp .getintouch .contactway{
  display: flex;
  flex-direction: column;
  align-items: center;
   gap: 4px;
}
.contactpage .morehelp .getintouch .contactway h1{
 font-size: 2.7vw;

}
.contactpage .morehelp .getintouch .contactway span,
.contactpage .morehelp .getintouch .contactway a{
 font-size: 1.7vw;
}
}
@media screen and (max-width:380px) {
/* contact page  */
.contactpage .contacthelp h1{
  font-size: 5.6vw;
  letter-spacing: 0;
}

.contactpage .morehelp .stillhelp{
  font-size: 4.9vw;
}
.contactpage .morehelp span{
  
  font-size: 2.5vw;
  width: 60%;
}


.contactpage .morehelp .getintouch{
  width: 90%;
}
.contactpage .morehelp .getintouch .contactway h1{
 font-size: 3.2vw;
 letter-spacing: 0;

}
.contactpage .morehelp .getintouch .contactway span,
.contactpage .morehelp .getintouch .contactway a{
 font-size: 2.3vw;
}
}




/* checkout  */
.checkout{
  
  height: fit-content;
  min-height: 90vh;
  width: 90vw;
  display:grid ;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  gap: 2vw;
  background: var(--bg-color);
  box-shadow: inset 0 -2px 10px #dadada,
              -2px 0 10px rgb(222, 222, 222);
  margin: auto;
  margin-top:5vh;
  margin-bottom:5vh;
  overflow: hidden;

}
.checkout .productimage{
  width: 90%;
  margin: auto;
  height: 80vh;
}
.checkout .productimage img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.checkout .productdetails{
  width: 100%;
  height: 90%;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 3px;
}
.checkout .productdetails .productname{
    font-weight: 800;
    font-size: 2.4vw;
    letter-spacing: 1px;
    color: var(--fg-color);
    transform: translateX(-4px);
}
.checkout .productdetails .desc{
    font-weight: 200;
    font-size: 1.3vw;
    color: var(--product-desc-clr);
}
.checkout .productdetails .pricing{
  margin-top: 3px;
    color: rgb(185, 21, 21);
    font-size: 0.8vw;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    gap: 1.6vw;
    align-items: center;
}
.checkout .productdetails .pricing .newpricing{
    font-size: 1.2vw;
    font-weight: 800;
}
.checkout .productdetails .pricing .oldpricing{
    color:var(--product-desc-clr);
    font-size: 1vw;
    text-decoration: line-through;
    font-weight: 200;
}
.checkout .productdetails .note{
    color: rgba(185, 21, 21, 0.782);
    font-size: 0.8vw;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-top: 5px;
    position: relative;
    
}
.checkout .productdetails .note::before{
  
      content: '';  
    height: 1px;
    width: 210%;
    background: var(--product-desc-clr);
    position: absolute;
    bottom: -50%;
    left: 0;
    
}
.checkout .productdetails .sizes{
  margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    gap: 5px;
}
.checkout .productdetails .sizes .sizetag{
    font-size: 1.23vw;
    font-weight: 600;
    color: var(--fg-color);
    margin-top: 6px;
}
.checkout .productdetails .sizes .sizesall{
    font-size: 1.1vw;
    font-weight: 200;
    color: var(--product-desc-clr-color);
}
.checkout .productdetails .addto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin-top: 16px;
    width: 86%;
    height: 10vh;
}
.checkout .productdetails .addto .addtocart{
    font-size: 1.2vw;
    font-weight:800;
    background: var(--fg-color);
    color: var(--bg-color);
    padding: 1.4vw 6.5vw;
    cursor: pointer;
    transition: 100ms ease-in-out;

}
.checkout .productdetails .addto .addtocart:active{

    opacity: 0.9;
    padding: 1.3vw 6.4vw;

}
.checkout .productdetails .addto .counters{
    
    border:1px solid var(--fg-color);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 6vw;
    height: 40%;
    padding: 1vw;
}
.checkout .productdetails .addto .counters button{
    font-size: 1.4vw;
    font-weight: 300;
}
.checkout .productdetails .addto .counters .count{
    font-size: 1.2vw;
    font-weight: 300;
}
button{
  cursor: pointer;
}

.addtocart{
  font-weight:500;
  background: var(--fg-color);
  color: var(--bg-color);
  cursor: pointer;
  padding: 3px;
  transition: 100ms ease-in-out;
}
@media screen and (width<=850px) {
/* checkout  */
.checkout{
  height: fit-content;
  padding: 3vw 0;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 1fr;
  gap: 0;
  margin-top:3vh;
  margin-bottom:3vh;

}
.checkout .productimage{
  height: 40vh;
}
.checkout .productdetails{
  width: 100%;
  height: 80%;
  gap: 1px;
  padding-left:3vw;
}
.checkout .productdetails .productname{
    font-size: 3.3vw;
}
.checkout .productdetails .desc{
    font-size: 1.8vw;
}
.checkout .productdetails .pricing .newpricing{
    font-size: 1.9vw;
}
.checkout .productdetails .pricing .oldpricing{
    font-size: 1.8vw;
}
.checkout .productdetails .note{
    font-size: 1.3vw;
    
}
.checkout .productdetails .note::before{
  
    width: 250%;
    
}
.checkout .productdetails .sizes{
  margin-top: 16px;
  gap: 4px;
}
.checkout .productdetails .sizes .sizetag{
    font-size: 2.1vw;
}
.checkout .productdetails .sizes .sizesall{
    font-size: 1.8vw;
}
.checkout .productdetails .addto{
    width: 60%;
    height: 6vh;
}
.checkout .productdetails .addto .addtocart{
    font-size: 1.8vw;
    padding: 1.45vw 6.45vw;
    letter-spacing: 2px;
    width: 90%;

}
.checkout .productdetails .addto .addtocart:active{

  padding: 1.34vw 6.23vw;

}
.checkout .productdetails .addto .counters{
    width: 10vw;
    height: 65%;
    padding: 1vw;
}
.checkout .productdetails .addto .counters button{
    font-size: 2.5vw;
    padding: 3px;
    font-weight: 500;
}
.checkout .productdetails .addto .counters .count{
    font-size: 2vw;
    font-weight: 300;
}

}
@media screen and (max-width:380px) {
/* checkout  */
.checkout .productimage{
  height: 30vh;
}
.checkout .productdetails{
  width: 100%;
  height: 80%;
  gap: 1px;
  padding-left:3vw;
}
.checkout .productdetails .productname{
    font-size: 5.6vw;
}
.checkout .productdetails .desc{
    font-size: 3.2vw;
}
.checkout .productdetails .pricing .newpricing{
    font-size: 3.4vw;
}
.checkout .productdetails .pricing .oldpricing{
    font-size: 3.1vw;
}
.checkout .productdetails .note{
    font-size: 2.2vw;
    
}
.checkout .productdetails .note::before{
  
    width: 200%;
    height: 0.5px;
    
}
.checkout .productdetails .sizes{
  margin-top: 10px;
}
.checkout .productdetails .sizes .sizetag{
    font-size: 3.3vw;
}
.checkout .productdetails .sizes .sizesall{
    font-size: 2.9vw;
}
.checkout .productdetails .addto{
    width: 80%;
    height: 5vh;
}
.checkout .productdetails .addto .addtocart{
    font-size: 2.5vw;
    padding: 2.4vw 8vw;
    width: 90%;

}
.checkout .productdetails .addto .addtocart:active{

  padding: 2.3vw 7vw;

}
.checkout .productdetails .addto .counters{
    width: 16vw;
    height: 55%;
}
.checkout .productdetails .addto .counters button{
    font-size: 4vw;
}
.checkout .productdetails .addto .counters .count{
    font-size: 3.2vw;
}

}





.facilities{
  width: 85%;
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  justify-content: space-between;
  height: fit-content;
  margin-top: 10px;
  
}
.facility{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  /* padding: 2px; */
  gap: 4px;
  min-width: 100px;
  justify-content:first baseline;
  text-align: center;

}
.facility .iconImg{
  font-size: 2vw;
  stroke-width: 1px;
  fill: var(--fg-color);
  opacity: 0.8;

}
.facility h1{
  font-size: 1vw;
  font-weight: 700;

}
.facility p{
  font-size: 0.9vw;
  stroke-width: 1px;
  font-weight: 500;
  width: 10vw;
  color: var(--product-clr);
  text-align: center;
}


@media only screen and (max-width:850px){
  .facilities{
    width: 66%;
    margin-top: 3vw;
    flex-wrap: wrap;
    
  }
  .facility{
    gap: 3px;
    min-width: 150px;

  
  }
  .facility .iconImg{
    font-size: 3vw;
  
  }
  .facility h1{
    font-size: 1.8vw;
  
  }
  .facility p{
    font-size: 1.5vw;
    width: 14vw;
  }

}

@media only screen and (max-width:380px) {
  .facilities{
    width: 70%;
    margin: auto;
    justify-content: center;
    gap: 3vw;
    margin-top: 2vw;
  }
  .facility{
    gap: 1px;
    min-width: 150px;
  
  }
  .facility .iconImg{
    font-size: 6vw;
  
  }
  .facility h1{
    font-size: 3.4vw;
  
  }
  .facility p{
    font-size: 2.5vw;
    width: 25vw;
  }

}




.homepagefacility{
  width: 90%;
  margin: auto;
  padding: 6vw 0 ;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;
  
}
.homepagefacility .facility{
  width:280px;
  min-width: 200px;
  padding: 0;
  gap: 10px;  
}

.homepagefacility .facility .iconImg{
  font-size: 3vw;

}
.homepagefacility .facility h1{
  font-size: 1.2vw;
  font-weight: 900;
  width: 80%;
  text-align: center;
  color: #202020;

}
.homepagefacility .facility p{
  font-size: 1.1vw;
  font-weight: 500;
  width: 70%;
}

@media screen and (width<=850px) {
  .homepagefacility{
    width: 90%;
    gap: 6vw;
    
  }
  .homepagefacility .facility{
    width:290px;
    min-width: 200px;
    gap: 10px;  
  }
  
  .homepagefacility .facility .iconImg{
    font-size: 4.6vw;
  
  }
  .homepagefacility .facility h1{
    font-size: 1.9vw;
    width: 85%;
  
  }
  .homepagefacility .facility p{
    font-size: 1.8vw;
  }

}
@media only screen and (max-width:380px) {
  .homepagefacility .facility{
    gap: 5px; 
  }
  
  .homepagefacility .facility .iconImg{
    font-size: 5.4vw;
  
  }
  .homepagefacility .facility h1{
    font-size: 2.8vw;
    width: 50%;
  
  }
  .homepagefacility .facility p{
    font-size: 2.3vw;
    width: 40%;
  }

}




/* cart pop */
.cartcontainer{
  width:40vw;
  height: 96vh;
  overflow: hidden;
  background: var(--bg-color);
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
  padding-left: 0.5vw;
  box-shadow: 0 0 10px rgba(104, 105, 105, 0.326),
  inset 0 -1px 10px aliceblue;
  border-radius: 5px;
  transition: 300ms ease-in;
  
}
.cartcontainer::-webkit-scrollbar{
  width: 0; 
}
.cartcontainer .head{
 width: 100%;
 height: 8vh;
 overflow: hidden;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
  
 align-items: center;
}


.cartcontainer .head h1{
 font-size: 1.4vw;
 font-weight: 600;
 color: var(--fg-color);
 
}
.cartcontainer .head h1 span{
 font-weight: 500;
 
}
.cartcontainer .head .closecart{
 font-size: 2vw;
 color: var(--fg-color);
 cursor: pointer;
}
.cartcontainer .allcarts{
width: 96%;
display: flex;
flex-direction: column;
gap: 2px;
height: 80vh;
overflow: hidden;
overflow-y: scroll;
box-shadow:inset 0  0 5px rgba(58, 58, 58, 0.243);
align-items: center;
}
.isempty{
  width: 30vw;
  height: 70vh;
  display: grid;
  place-items: center;
  font-weight: 900;
  text-align: center;
  font-family: 'poppins';
  font-size: 2vw;
  color: var(--product-desc-clr);
}
.isempty a{
  font-size: 1.4vw;
  transition: 200ms ease-in;
  display: flex;
  flex-direction: row;
  gap: 1px;
  align-items: center;
}
.isempty a:hover{
  text-decoration: underline; 
}
.isempty a .goback{
  transition: 300ms ease-in-out;
}
.isempty a:hover .goback{
  transform: translateX(5px);
}


.cartcontainer .allcarts .cartitem{
  padding-top: 5px;
height: fit-content;
width: 100%;
display: flex;
flex-direction: row;
align-items: flex-start;
border-bottom: 1px solid var(--fg-color);
gap: 5px;

}
.cartcontainer .allcarts .cartitem:last-child{
 margin-bottom: 5vh;

}

.cartcontainer .allcarts .cartitem .left img{
height: 10vw;
aspect-ratio: 1/1;
object-fit: contain;
}
.cartcontainer .allcarts .cartitem .right{
display: flex;
flex-direction: column;
gap: 4vw;
}
.cartcontainer .allcarts .cartitem .right .detail{
display: flex;
flex-direction: column;
gap: 4px;

}
.cartcontainer .allcarts .cartitem .right .detail h1{
font-size: 1.6vw;
color: var(--fg-color);
font-weight: 700;
}
.cartcontainer .allcarts .cartitem .right .detail small{
font-size: 1vw;
color: var(--product-desc-clr);
font-weight: 400;
}
.cartcontainer .allcarts .cartitem .right .otherremove{
display: flex;
flex-direction: row;
}
.cartcontainer .allcarts .cartitem .right .otherremove .remove{
font-size: 1.2vw;

color: var(--product-desc-clr);
background: transparent;
transition: 200ms ease-in;
display: flex;
flex-direction: row;
gap: 0;
align-items:center;
}
.cartcontainer .allcarts .cartitem .right .otherremove .remove:hover{
text-decoration: underline;
color: var(--fg-color);
}
.cartcontainer .allcarts .cartitem .right .otherremove .pricing{
display: flex;
flex-direction: row;
gap: 10px;
color: rgb(201, 12, 12);
font-weight: 700;
}
.cartcontainer .allcarts .cartitem .right .otherremove .pricing .oldone{
color: var(--product-desc-clr);
font-weight: 500;
text-decoration: line-through;
}


.cartcontainer .allcarts::-webkit-scrollbar{
width: 0;

}


.totalncheckout{
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--bg-color);
}
.totalncheckout .totalpricing{
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
  padding-left: 1vw;
}
.totalncheckout .totalpricing h1{
 font-weight: 700;
 font-size: 1.3vw;
 color: var(--fg-color);
}
.totalncheckout .totalpricing small{
 font-weight: 800;
 font-size: 1.2vw;
 color: rgb(170, 18, 18);
 padding-left: 3px;
}
.totalncheckout .checkoutpayment{
 font-weight: 800;
 letter-spacing: 2px;
 text-transform: uppercase;
 font-size: 1.2vw;
 background: var(--fg-color);
 color: var(--bg-color);
 width: 95%;
 margin: auto;
 height: 65%;
 transition:200ms ease-in-out;
 display: flex;
 align-items: center;
 justify-content:center ;
}
.totalncheckout .checkoutpayment:hover{
 background: rgba(0, 0, 0, 0.866);
}



@media screen and (width<=850px) {
/* cart pop */
.cartcontainer{
  width:60vw;
  height: 98vh;
}
.cartcontainer .head{
 height: 10vh;
}


.cartcontainer .head h1{
 font-size: 2.8vw;
 font-weight: 700;
 
}
.cartcontainer .head .closecart{
 font-size: 3.4vw;
 margin-right: 2vw;
}
.cartcontainer .allcarts{
width: 96%;
gap: 8px;
box-shadow: none;
}
.isempty{
  width: 50vw;
  height: 20vh;
  font-size: 3.9vw;
}
.isempty a{
  font-size: 2.8vw;
  gap: 2px;
}

.cartcontainer .allcarts .cartitem{
  padding-top: 14px;
gap: 10px;

}

.cartcontainer .allcarts .cartitem .left img{
height: 12vw;
aspect-ratio: 1/1;
object-fit: cover;
margin-left: 1vw;
}
.cartcontainer .allcarts .cartitem .right{
gap: 2.5vw;
margin-bottom: 1vw;
}
.cartcontainer .allcarts .cartitem .right .detail{
gap: 2px;

}
.cartcontainer .allcarts .cartitem .right .detail h1{
font-size: 2.7vw;
}
.cartcontainer .allcarts .cartitem .right .detail small{
font-size: 1.8vw;
}
.cartcontainer .allcarts .cartitem .right .otherremove .remove{
font-size: 2vw;
}
.cartcontainer .allcarts .cartitem .right .otherremove .pricing{
  font-size: 2vw;
gap: 16px;
}
.cartcontainer .allcarts .cartitem .right .otherremove{
  gap: 12vw;
  }

.totalncheckout{
  height: 14vh;
}
.totalncheckout .totalpricing{
  padding-left: 2.2vw;
}
.totalncheckout .totalpricing h1{
 font-size: 2.5vw;
}
.totalncheckout .totalpricing small{
 font-size: 2.1vw;
 padding-left: 5px;
}
.totalncheckout .checkoutpayment{
 letter-spacing: 5px;
 font-size: 2.2vw;
 height: 9vh;
 width: 93%;
}
}
@media screen and (max-width:380px) {
/* cart pop */
.cartcontainer{
  width:80vw;
  height: 90vh;
}
.cartcontainer .head{
 height: 4vh;
}


.cartcontainer .head h1{
 font-size: 3.8vw;
 padding-left: 2vw;
 
}
.cartcontainer .head .closecart{
 font-size: 4.5vw;
}
.isempty{
  width: 50vw;
  height: 20vh;
  font-size: 5vw;
}
.isempty a{
  font-size: 3.2vw;
  gap: 2px;
}

.cartcontainer .allcarts .cartitem{
  padding-top: 14px;
gap: 10px;

}

.cartcontainer .allcarts .cartitem .left img{
height: 15vw;
}
.cartcontainer .allcarts .cartitem .right{
gap: 2.5vw;
}
.cartcontainer .allcarts .cartitem .right .detail{
gap: 2px;

}
.cartcontainer .allcarts .cartitem .right .detail h1{
font-size: 3.6vw;
}
.cartcontainer .allcarts .cartitem .right .detail small{
font-size: 2.8vw;
}
.cartcontainer .allcarts .cartitem .right .otherremove .remove{
font-size: 3vw;
}
.cartcontainer .allcarts .cartitem .right .otherremove .pricing{
  font-size: 3vw;
}

.totalncheckout{
  height: 10vh;
}
.totalncheckout .totalpricing{
  padding-left: 2.6vw;
}
.totalncheckout .totalpricing h1{
 font-size: 4vw;
}
.totalncheckout .totalpricing small{
 font-size: 3.6vw;
}
.totalncheckout .checkoutpayment{
 font-size: 3vw;
 height: 6vh;
}
}


/* payment checkout  */
.paymentcheckout{
  min-height: 70vh;
  width: 80vw;
  height: fit-content;
  margin: 5vw auto;
  display: flex;
  align-items: first baseline;
  justify-content: first baseline;
  background: var(--bg-color);
  border-radius: 5px;
  padding: 2vw;
  box-shadow: 0 0 20px rgba(153, 153, 153, 0.258),
  inset 0 -2px 30px rgba(214, 214, 214, 0.294),
  inset -2px 0 20px rgba(214, 214, 214, 0.294);
}
.paymentcheckout .paymentstripe{
  height: 100%;
  width: 42vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 3vw;
  position: relative;
}
.paymentcheckout .paymentstripe .payhead{
  height: fit-content;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7vw;
}
.paymentcheckout .paymentstripe .payhead img{
  height: 3vh;
}
.paymentcheckout .paymentstripe .payhead small{
  font-weight: 500;
  color: var(--product-desc-clr);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
  font-size: 1vw;
  text-transform: capitalize;
}
.paymentcheckout .paymentstripe .contactarea,
.paymentcheckout .paymentstripe .shipping_details,
.paymentcheckout .paymentstripe .cardinfo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5vw;
}
.paymentcheckout .paymentstripe :where(.contactarea, .shipping_details, .cardinfo) h1{
  font-size: 1.5vw;
  font-weight: 400;
  color: var(--fg-color);
}
.paymentcheckout .paymentstripe .contactarea input[type="email"],
.paymentcheckout .paymentstripe .shipping_details input[type="text"],
.paymentcheckout .paymentstripe .cardinfo input[type="text"],
.paymentcheckout .paymentstripe .cardinfo .carddata input[type="password"]
{
  font-size: 1.2vw;
  font-weight: 100;
  color: var(--fg-color);
  border: 1px solid rgba(128, 128, 128, 0.444);
  background: transparent;
  width: 40vw;
  border-radius: 5px;
  padding: 0.8vw 1.1vw;
  transition: 100ms ease-in-out;

}
.paymentcheckout .paymentstripe .cardinfo .carddata{
  justify-content: space-between;
}
.paymentcheckout .paymentstripe .cardinfo .carddata input[type="text"],
.paymentcheckout .paymentstripe .cardinfo .carddata input[type="password"]
{
  width: 18.7vw;
}
.paymentcheckout .paymentstripe .contactarea input[type="email"]:where(:focus,:hover),
.paymentcheckout .paymentstripe .shipping_details input[type="text"]:where(:focus,:hover),
.paymentcheckout .paymentstripe .cardinfo :is(input[type="text"]):where(:focus,:hover),
.paymentcheckout .paymentstripe .cardinfo .carddata input[type="password"]:where(:focus,:hover)
{
  border: 1px solid var(--fg-color);

}
.paymentcheckout .paymentstripe .contactarea input[type="email"]::placeholder,
.paymentcheckout .paymentstripe .shipping_details input[type="text"]::placeholder,
.paymentcheckout .paymentstripe .cardinfo :is(input[type="text"],input[type="password"])::placeholder
{
  color: rgba(128, 128, 128, 0.463);
}
.paymentcheckout .paymentstripe .contactarea input[type="email"]:where(:focus,:hover)::placeholder,
.paymentcheckout .paymentstripe .shipping_details input[type="text"]:where(:focus,:hover)::placeholder,
.paymentcheckout .paymentstripe .cardinfo input[type="text"]:where(:focus,:hover)::placeholder,
.paymentcheckout .paymentstripe .cardinfo .carddata input[type="password"]:where(:focus,:hover)::placeholder
{
  color: rgba(128, 128, 128, 0.763);
}

.paymentcheckout .paymentstripe .keepuptodate{
  display: flex;
  flex-direction: row;
  gap: 0.3vw;
}
.paymentcheckout .paymentstripe .keepuptodate small{
  font-size: 1.03vw;
  word-spacing: -1px;
  color: var(--product-desc-clr);
}
.paymentcheckout .paymentstripe input[type="submit"]{
  font-size: 1.03vw;
  color: var(--fg-color);
  background: rgb(41, 213, 90);
  padding: 1vw 1.4vw;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition:100ms ease-out;
}
.paymentcheckout .paymentstripe input[type="submit"]:active{
  opacity: 0.9;
  padding: 0.96vw 1.3vw;
}
.paymentcheckout .paymentstripe input[type="checkbox"]{
  accent-color: rgb(10, 9, 9);
}


@media screen and (max-width:850px) {
  /* payment checkout  */
.paymentcheckout{
  min-height: 30vh;
  padding: 2.5vw;
}
.paymentcheckout .paymentstripe{
  height: 100%;
  width: 60vw;
  gap: 3vw;
}
.paymentcheckout .paymentstripe .payhead{
  gap: 0.9vw;
}
.paymentcheckout .paymentstripe .payhead img{
  height: 2vh;
}
.paymentcheckout .paymentstripe .payhead small{
  gap: 0.6vw;
  font-size: 1.9vw;
}
.paymentcheckout .paymentstripe .contactarea,
.paymentcheckout .paymentstripe .shipping_details,
.paymentcheckout .paymentstripe .cardinfo{
  gap: 1vw;
}
.paymentcheckout .paymentstripe .contactarea h1,
.paymentcheckout .paymentstripe .shipping_details h1, 
.paymentcheckout .paymentstripe .cardinfo h1{
  font-size: 2.4vw;
}
.paymentcheckout .paymentstripe .contactarea input[type="email"],
.paymentcheckout .paymentstripe .shipping_details input[type="text"],
.paymentcheckout .paymentstripe .cardinfo input[type="text"]{
  font-size: 2vw;
  width: 57vw;
  padding:1.3vw 1.6vw;

}
.paymentcheckout .paymentstripe .cardinfo .carddata input[type="text"],
.paymentcheckout .paymentstripe .cardinfo .carddata input[type="password"]
{
  font-size: 2vw;
  width: 26vw;
  padding:1.3vw 1.6vw;
}

.paymentcheckout .paymentstripe .keepuptodate{
  gap: 0.8vw;
}
.paymentcheckout .paymentstripe .keepuptodate small{
  font-size: 1.8vw;
}
.paymentcheckout .paymentstripe .keepuptodate input{
  margin-left: 0.5vw;
}
.paymentcheckout .paymentstripe input[type="submit"]{
  font-size: 2.2vw;
  padding: 1.4vw 1.8vw;
}
.paymentcheckout .paymentstripe input[type="submit"]:active{
  padding:  1.35vw 1.75vw;
}
}

@media screen and (max-width:380px) {
  /* payment checkout  */
.paymentcheckout{
  min-height: 50vh;
  align-items: center;
  justify-content: center;
}
.paymentcheckout .paymentstripe .payhead{
  gap: 1.1vw;
}
.paymentcheckout .paymentstripe .payhead img{
  height: 2.2vh;
}
.paymentcheckout .paymentstripe .payhead small{
  font-size: 2.5vw;
}
.paymentcheckout .paymentstripe{
  gap: 4vw;
}
.paymentcheckout .paymentstripe .contactarea,
.paymentcheckout .paymentstripe .shipping_details,
.paymentcheckout .paymentstripe .cardinfo{
  gap: 2vw;
}
.paymentcheckout .paymentstripe .contactarea h1,
.paymentcheckout .paymentstripe .shipping_details h1,
.paymentcheckout .paymentstripe .cardinfo h1{
  font-size: 3.2vw;
}
.paymentcheckout .paymentstripe .contactarea input[type="email"],
.paymentcheckout .paymentstripe .shipping_details input[type="text"],
.paymentcheckout .paymentstripe .cardinfo input[type="text"],
.paymentcheckout .paymentstripe .cardinfo .carddata input[type="password"]
{
  font-size: 2.8vw;
  border-radius:3px ;

}
.paymentcheckout .paymentstripe .keepuptodate small{
  font-size:2.3vw;
  word-spacing: -1px;
}
.paymentcheckout .paymentstripe .keepuptodate input[type="checkbox"]{
  height: 2.8vw;
}

.paymentcheckout .paymentstripe input[type="submit"]{
  font-size: 2.6vw;
  border-radius: 5px;
}
}
